{% extends 'base.html.twig' %}

{% block title %}Job Board
{% endblock %}

{% block body %}


	<div class="container">
		<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="{{ asset('/images/img1.jpg') }}" class="rounded w-100" height="500" style="object-fit: cover" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5>One</h5>
						<p>Content One</p>
						<button type="button" class="btn btn-primary">Primary</button>
					</div>
				</div>
				<div class="carousel-item">
					<img src="{{ asset('/images/img2.jpg') }}" class="rounded w-100" height="500" style="object-fit: cover" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5>Two</h5>
						<p>Content Two</p>
						<button type="button" class="btn btn-primary">Primary</button>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>

	


{% endblock %}
