{% extends 'base.html.twig' %}

{% block title %}Job Board
{% endblock %}

{% block body %}


	<div class="container">
		<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				{% for settings in setting %}
					<div class="carousel-item {% if loop.first %} active {% endif %}">
						<img src="{{ settings.image }}" class="rounded w-100" height="600" style="object-fit: cover" alt="...">
						<div class="carousel-caption d-none d-md-block">
							<p>{{ settings.message | raw }}</p>
							<button type="button" class="btn btn-primary">{{settings.callToAction}}</button>
						</div>
					</div>
				{% endfor %}
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>


	<section class="container py-5">
		<h2 class="text-center mb-4">Offres d'emploi récentes</h2>

		<div
			class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
			<!-- Carte offre d'emploi -->
			{% for offer in offers %}
				{% include "partial/_job_card.html.twig" %}
			{% endfor %}
			<!-- Fin carte offre d'emploi -->
		</div>
	</section>


	<section class="container py-5">
		<h2 class="text-center mb-4">Entreprises récentes</h2>
		<div
			class="row g-4">
			<!-- Carte d'entreprise 1 -->
			{% for entreprise in entreprises %}
				{% include "partial/_entreprise_card.html.twig" %}
			{% endfor %}
		</div>
	</section>


{% endblock %}
