{% extends 'base.html.twig' %}

{% block title %}Tag
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row">
			{% include "partial/_sidebar.html.twig" %}
			<div class="col-10">
				<h2 class='text-center'>Creation de Tag</h2>
				<div class="col-12">
					<div class="d-flex align-items-center justify-content-center">
						<div class="bg-white shadow p-5 rounded">
							{{form_start(form)}}
							{{form_widget(form)}}
							<button type="submit" class="btn btn-primary">Ajouter</button>
							{{form_end(form)}}
						</div>
					</div>
					<h4 class="text-center fw-bold">Liste des mots clés</h4>
					{% if tag|length <= 0 %}
						<div class="alert alert-info">
							Aucun mot clé n'a été trouvé.
						</div>
					{% else %}
						{% for tag in tag %}
							<div class='container d-flex justify-content-center'>
								<span class="badge rounded-pill text-bg-primary">
									<i class="bi bi-tag-fill"></i>
									{{tag.name}}</span>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>


{% endblock %}
